<script type="text/javascript">
  window.pollArr = <%- JSON.stringify(pollArr) -%>
</script>

<% if (user) { %>
<script type="text/javascript">
  window.user = <%- JSON.stringify(user) -%>
</script>
<% } %>

<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>